



body {
  background-color: #FFE8E8;
  font-family: Arial, sans-serif;
}

#sticky-header {
    color: #FF007F;
    background-color: #FFE7BD;
    position: sticky;
    top: 0px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#logga {
   position: absolute;
   left: 2%;
}

* {
  margin: 0;
}

/* Knappar */

.btn {
  display: inline-block;
  padding: 18px 45px;
  margin: 8px;
  color: #FF007F;
  text-decoration: none;
  border-radius: 10%;
  font-weight: bold;
  font-size: x-large;
  transition: background-color 0.3s ease;
}

#button-group {
    padding-left: 1.2%;
    display: flex; 
    justify-content: space-evenly;
    width: 70%;
    z-index: 1;
}

/*boxar*/

#boxes-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);   
  gap: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.box {
  color: #BA5B5B;
  background-size:cover;
  background-position: center;
  border: 2px transparent;
  height: 40vh;
  display: flex;
  align-items: end;
  justify-content: center;
  font-size: 3rem;
  font-family: sans-serif;
  user-select: none;
   box-shadow: inset 0 0 0 55px #f4e2e2;
}

.box_link {
  text-decoration: none;

}

.box:nth-child(1) { 
    background-image: 	url(../img/exempel_tavla.jpg); 
    

}


.box:nth-child(2) { 
    background-image: 	url(../img/exempel_tavla.jpg); 

}


.box:hover {
    filter: brightness(70%);
    transition: 0.3s;


}


.inner_box {
  color: #ff7aa4;
  background-size:cover;
  background-position: center;
  border: 2px transparent;
  height: 40vh;
  display: flex;
  z-index: 1;
  align-items: end;
  justify-content: center;
  font-size: 3rem;
  font-family: sans-serif;
  user-select: none;
  box-shadow: inset 0 0 0 55px #f4e2e2;
  background-image: url(../img/kuligcock.jpg);
  z-index: 2;
}

.inner_box:hover { 
  box-shadow: inset 0 0 0 0px #f4e2e2;
  transition: 0.5s;
  z-index: 2;
}


#collection_name {
  color: #BA5B5B;
  font-size: 2rem;

}

#collection_box {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#backarrow {
  width: 5vw;
  height: auto;

}

#hidden_backarrow {
 width: 5vw;
  height: auto;
  opacity: 0;

}

a {
  text-decoration: none;

}

#footer {

  height: 200px;
  width: 100%;
  background-color: #FFE8E8;
  filter:brightness(97%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #BA5B5B;
}
