



body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}


#sticky-header {
    color: #FF007F;
    background-color: #FFE7BD;
    position: sticky;
    top: 0px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#logga {
   position: absolute;
   left: 2%;
}

* {
  margin: 0;
}

/* Knappar */

.btn {
  display: inline-block;
  padding: 18px 45px;
  margin: 8px;
  color: #FF007F;
  text-decoration: none;
  border-radius: 10%;
  font-weight: bold;
  font-size: x-large;
  transition: background-color 0.3s ease;
}

#button-group {
    padding-left: 1.2%;
    display: flex; 
    justify-content: space-evenly;
    width: 70%;
    z-index: 1;
}

/*bild och textruta*/

#photo_n_text {
background-color: #FFE8E8;
display: flex;
align-items: center;
flex-direction: column;

}

#Portratt {
  height: auto;
  width: 15vw;
  display: flex;
  align-self: center;
  padding-bottom: 2%;
}

#text_om_mig {
  padding-bottom: 5%;
  color: #BA5B5B;
  font-size: larger;
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;

}

.rubriker {
  color: #BA5B5B;
  font-size: 4rem;
  padding: 5%;
}

#footer {

  height: 200px;
  width: 100%;
  background-color: #FFE8E8;
  filter:brightness(97%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #BA5B5B;
}